.dot
    width: 3px // Set the width of the dot
    height: 3px // Set the height of the dot
    background-color: #000 // Set the color of the dot
    border-radius: 50% // Make the dot circular by setting border radius to 50%
    display: inline-block // Display as an inline-block to ensure sizing works as expected
    opacity: 0.5

.block
    width: 45px
    height: 40px
    position: relative

.top-left
    position: absolute
    left: 0px
    top: 0px

.top-right
    position: absolute
    right: 0px
    top: 0px

.bottom-right
    position: absolute
    right: 0px
    bottom: 0px

.bottom-left
    position: absolute
    left: 0px
    bottom: 0px

.top-left.dot.one
    width: 48px
    border-radius: 4%

.top-right.dot.two
    height: 42px
    border-radius: 4%

.bottom-left.dot.three
    height: 41px
    border-radius: 4%

.bottom-right.dot.four
    width: 42px
    border-radius: 4%
